@model List<CarRent.Views.Models.Staff>
<div class="container-fluid p-3">
    <table class="table fs-5">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">FullName</th>
            <th scope="col">Profession</th>
            <th scope="col">Image</th>
            <th scope="col"></th>
            <th scope="col"></th>
        </tr>
        </thead>
        <tbody>
        @foreach (var staff in Model)
        {
        <tr>
            <th scope="row">@staff.Id</th>
            <td>@staff.FirstName @staff.LastName</td>
            <td>@staff.Profession</td>
            <td><img src="~/images/staves/@staff.FileName" alt="Staff image"/></td>
            <td>
                <a asp-action="update" asp-controller="Staff" asp-route-id="@staff.Id">
                    <i class="fas fa-pen-to-square"></i>
                </a>
            </td>
            <td>
                <a onclick="if(!confirm('Are you sure?')){ return false; }" asp-action="remove" asp-controller="Staff" asp-route-id="@staff.Id">
                    <i class="fas fa-trash"></i>
                </a>
            </td>
        </tr>
        }
        </tbody>
    </table>
    <a class="btn btn-primary w-100" asp-controller="Staff" asp-action="add">Add Staff</a>
</div>